body {
  font-family: "Lato", sans-serif;
}

.websitetitle {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #C4B35C;
  font-family: 'Cinzel Decorative';
  font-size: 22px;
}

.websitetitle a {
    color: black;
}

.websitetitle a:hover {
    color: #F4CD30;
}

.profileicon {
  position: fixed;
  width: 120px;
  top: 30px;
  right: 0px;
  background: #C4B35C;
}

.sidenav {
  margin-top: 105px;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #C4B35C;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 0px 5px 15px 0px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.checkbox-grid li {
  display: block;
  float: left;
  width: 25%;
}

.main {
  margin-top: 140px;
  margin-left: 210px; /* Same width as the sidebar + left position in px */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #064579;
}

input:focus + .slider {
  box-shadow: 0 0 1px #064579;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

